@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body,
html {
  line-height: 1;
  overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ”;
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

@font-face {
  font-family: "Baloo2-Bold";
  src: url(fonts/Baloo2-Bold.ttf);
}
@font-face {
  font-family: "Baloo2-ExtraBold";
  src: url(fonts/Baloo2-ExtraBold.ttf);
}
@font-face {
  font-family: "Baloo2-Medium";
  src: url(fonts/Baloo2-Medium.ttf);
}
@font-face {
  font-family: "Baloo2-Regular";
  src: url(fonts/Baloo2-Regular.ttf);
}
@font-face {
  font-family: "Baloo2-SemiBold";
  src: url(fonts/Baloo2-SemiBold.ttf);
}
.hero-section .navbar .navbar-brand {
  margin-left: 25px;
}
.hero-section .navbar .navbar-brand h4 {
  margin: 0%;
  margin-left: 5px;
  font-size: 26px;
  color: rgb(103, 75, 0);
  font-family: "Baloo2-ExtraBold";
}
.hero-section .navbar .nav-item {
  padding: 20px 15px !important;
  font-weight: 500;
  text-transform: uppercase;
  color: #05364d;
  font-size: 20px;
  display: inline-block;
}
.hero-section .navbar .nav-link:hover {
  color: rgb(103, 75, 0) !important;
}
.hero-section .navbar .active {
  color: rgb(103, 75, 0) !important;
}
.hero-section .social_icons span {
  font-family: "Baloo2-Bold";
}
.hero-section .poster {
  position: absolute;
  right: -50px;
  top: 0%;
  z-index: -1;
}
.hero-section .poster img {
  width: 80%;
  height: 500px;
}
.hero-section .poster .img {
  width: 600px;
  height: 600px;
  position: absolute;
  right: 80px;
  top: 140px;
  border-radius: 1%;
  border-bottom: 10px solid rgba(5, 54, 77, 0);
}
.hero-section .banner_content {
  margin-left: 50px;
  margin-top: 180px !important;
}
.hero-section .banner_content h3 {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: #797979;
}
.hero-section .banner_content h1 {
  font-family: "Baloo2-SemiBold";
  margin-top: 20px;
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
  margin-bottom: 20px;
}
.hero-section .banner_content h5 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 0px;
  font-family: "Baloo2-Medium";
}
.hero-section .primary_btn {
  display: inline-block;
  background: rgb(103, 75, 0);
  color: #fff;
  letter-spacing: 0px;
  font-family: "Baloo2-Regular";
  font-weight: 500;
  font-size: 14px;
  line-height: 50px;
  padding: 0 38px;
  outline: none !important;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  background-size: 200% auto;
  text-decoration: none;
}
.hero-section a {
  transition: all 0.3s ease-in-out;
}
.hero-section .primary_btn:hover {
  color: #fff;
  transform: scale(1.1);
}

/* banner */
.statistics_item {
  background: rgba(5, 54, 77, 0.168627451);
  text-align: center;
  padding: 50px;
}

.statistics_item h3 {
  font-size: 27px;
  margin-bottom: 5px;
  font-weight: 600;
  background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Happy {
  margin-left: 45px;
}

/* /card */
.Upcoming-Events .Portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
}
.Upcoming-Events .Portfolio .slide-container {
  max-width: 1120px;
  width: 100%;
}
.Upcoming-Events .Portfolio .slide-container .slide-content {
  margin: 0 60px;
  overflow: hidden;
}
.Upcoming-Events .Portfolio .slide-container .slide-content .card {
  border-radius: 5px;
  background-color: rgb(34, 32, 32);
  border: 1px solid rgb(103, 75, 0);
}
.Upcoming-Events .Portfolio .slide-container .slide-content .card .card-image {
  position: relative;
  height: 250px;
  width: 150px;
  padding: 3px;
}
.Upcoming-Events .Portfolio .slide-container .slide-content .card .card-image .card-img {
  height: 50%;
  width: 200%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2%;
}
.Upcoming-Events .Portfolio .slide-container .image-content,
.Upcoming-Events .Portfolio .slide-container .card-content {
  padding: 10px 14px;
}
.Upcoming-Events .Portfolio .slide-container .image-content .name,
.Upcoming-Events .Portfolio .slide-container .card-content .name {
  font-size: 18px;
  font-weight: 500;
  color: white;
  position: absolute;
  top: 50%;
  font-family: "Montserrat-SemiBold";
}
.Upcoming-Events .Portfolio .slide-container .image-content .description,
.Upcoming-Events .Portfolio .slide-container .card-content .description {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.645);
  position: absolute;
  top: 60%;
  line-height: 15px;
}
.Upcoming-Events .Portfolio .slide-container .image-content {
  row-gap: 5px;
}
.Upcoming-Events .Portfolio .slide-container .buttton {
  padding-bottom: 40px;
  border: none;
  font-size: 12px;
  color: #ffffff;
  padding: 14px 18px;
  background-color: rgb(103, 75, 0);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3 ease;
  margin-bottom: 60px;
  font-family: "Montserrat-SemiBold";
}
.Upcoming-Events .Portfolio .slide-container .butttton {
  border: none;
  font-size: 12px;
  color: #ffffff;
  padding: 14px 18px;
  background-color: rgb(103, 75, 0);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3 ease;
  margin-bottom: 60px;
  font-family: "Montserrat-SemiBold";
  margin-left: 40px;
}
.Upcoming-Events .Portfolio .slide-container .buttton:hover {
  background: #707070;
}
.Upcoming-Events .Portfolio .slide-container .butttton:hover {
  background: #707070;
}
.Upcoming-Events .Portfolio .slide-container .but {
  margin-left: 80px;
}
.Upcoming-Events .Portfolio .swiper-navBtn {
  color: rgb(103, 75, 0);
  transition: color 0.3s ease;
}
.Upcoming-Events .Portfolio .swiper-navBtn:hover {
  color: #707070;
}
.Upcoming-Events .Portfolio .swiper-navBtn::before,
.Upcoming-Events .Portfolio .swiper-navBtn::after {
  font-size: 40px;
}
.Upcoming-Events .Portfolio .swiper-button-next {
  right: 0;
}
.Upcoming-Events .Portfolio .swiper-button-prev {
  left: 0;
}
.Upcoming-Events .Portfolio .swiper-pagination-bullets {
  color: rgb(103, 75, 0);
  opacity: 1;
}
.Upcoming-Events .Portfolio .swiper-pagination-bullets-active {
  color: rgb(103, 75, 0);
  opacity: 1;
}
.Upcoming-Events .Upcoming {
  padding: 60px;
}
.Upcoming-Events .Upcoming h3 {
  font-family: "Baloo2-ExtraBold";
  color: black;
  font-size: 50px;
}
.Upcoming-Events .Upcoming p {
  font-family: "Baloo2-Regular";
  font-size: 20px;
}

.services {
  line-height: 1.5;
  text-align: center;
  padding-top: 100px;
}
.services .serv p {
  -webkit-text-decoration: solid;
          text-decoration: solid;
  color: black;
  font-size: larger;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  margin-bottom: -24px;
}
.services .text-uppercase mb-4 {
  color: white;
}
.services .serv h3 {
  font-family: "Baloo2-Medium";
  color: rgb(103, 75, 0);
  font-size: 25px;
}
.services .fa {
  padding: 35px;
  font-size: 30px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 60%;
  border: 1px solid white;
  background-color: white;
}
.services .instructions {
  padding: 100px;
}
.services .instructions .card {
  padding-top: 50px;
}
.services .instructions .card img {
  margin-left: 170px;
  width: 70px;
  height: 70px;
  color: rgb(103, 75, 0);
}

.blog {
  background-color: rgb(237, 238, 240);
  padding: 10px;
}
.blog h1 {
  padding: 80px;
  text-align: center;
  color: rgb(103, 75, 0);
  font-family: "Baloo2-ExtraBold";
  font-size: 50px;
}
.blog .container .blog-box {
  border: 1px solid #202020;
}
.blog .container .blog-box .blog-img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 318px;
}
.blog .container .blog-box .blog-text {
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.blog .container .blog-box .blog-text span {
  color: black;
  font-size: 20px;
  font-family: "Baloo2-Regular";
}
.blog .container .blog-box .blog-text .blog-title {
  font-size: 15px;
  font-weight: 500;
  color: rgb(0, 57, 82);
}
.blog .container .blog-box .blog-text .blog-title :hover {
  color: blue;
}
.blog .container .blog-box .blog-text p {
  color: #707070;
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
}
.blog .container .blog-box .blog-text a {
  color: rgb(103, 75, 0);
}
.blog .container .blog-box .blog-text a :hover {
  color: red;
  transition: all ease 0.3s;
}
.blog .second {
  border-radius: 5px;
  padding-top: 40px;
}

.footer {
  background-color: rgb(237, 238, 240);
  padding: 70px;
}
.footer .contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}
.footer .contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: white;
  padding: 20px 40px;
  outline: none;
  color: rgb(0, 57, 79);
  transition: 0.5s;
}
.footer .contact-form-text:hover {
  box-shadow: 0 0 10px 4px #34495e;
}
.footer textarea.contact-form-text {
  height: 200px;
}
.footer .contact-form-btn {
  border: 0;
  background-color: rgb(0, 57, 79);
  color: #fff;
  padding: 25px 250px;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 60px;
  font-family: "Baloo2-Bold";
  font-size: 25px;
}
.footer h1 {
  font-family: "Baloo2-Bold";
  font-size: 40px;
  text-align: center;
  color: rgb(103, 75, 0);
}
.footer p {
  line-height: 1.5;
  text-align: center;
  font-family: "Baloo2-Medium";
  font-size: 18px;
  text-decoration: none;
}
.footer a {
  text-decoration: none;
}

.payment .container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1f242d;
  padding: 25px;
}
.payment .container form {
  width: 700px;
  padding: 40px;
  background: #fff;
  border-radius: 10px;
}
.payment form .row {
  display: flex;
  gap: 65px;
  flex-wrap: wrap;
}
.payment .row .column {
  flex: 1 1 250px;
}
.payment .column .title {
  font-size: 20px;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.payment .column .input-box {
  margin: 15px 0;
}
.payment .input-box span {
  display: block;
  margin-bottom: 10px;
}
.payment .input-box input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}
.payment .column .flex {
  display: flex;
  gap: 15px;
}
.payment .flex .input-box {
  margin-top: 5px;
}
.payment .input-box img {
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}
.payment form .btn {
  width: 100%;
  padding: 12px;
  background: #8175d3;
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: 17px;
  color: #fff;
  margin-top: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.payment form .btn:hover {
  background: #6a5acd;
}

.tenth .first-button {
  border: none;
  font-size: 12px;
  color: #ffffff;
  padding: 14px 18px;
  background-color: rgb(103, 75, 0);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3 ease;
  margin-top: 20px;
  font-family: "Montserrat-SemiBold";
}
.tenth .second-button {
  border: none;
  font-size: 12px;
  color: #ffffff;
  padding: 14px 18px;
  background-color: rgb(103, 75, 0);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3 ease;
  margin-top: 20px;
  font-family: "Montserrat-SemiBold";
}
.tenth h2 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}
.tenth p {
  font-size: 12px;
  font-weight: 500;
  margin-top: 12px;
}

.thirteen {
  margin-top: 40px;
}

contact-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  max-width: 550px;
  margin: auto;
  margin-top: 2em;
}
contact-text .sectionHeader {
  font-size: 20px;
  color: #1345e6;
}
contact-text .heading,
contact-text .sub-heading {
  margin-bottom: 0.5em;
  font-weight: bold;
}
contact-text .heading {
  font-size: 2.5em;
}
contact-text .sub-heading {
  text-align: left;
}
contact-text .contactForm {
  display: grid;
  gap: 3em;
}
contact-text form {
  width: 100%;
  margin-top: 3em;
}
contact-text .para {
  color: var(--paraColor);
  font-size: 1.1rem;
  line-height: 1.5em;
  margin-bottom: 1em;
}
contact-text .para2 {
  text-align: left;
}
contact-text .input {
  width: 95%;
  max-width: 700px;
  border: none;
  font-size: 0.9rem;
  padding: 1em;
  outline: none;
  background-color: var(--formBg);
  color: var(--paraColor);
  border-radius: 10px;
  border: 1px solid rgb(53, 53, 53);
  margin-bottom: 1em;
}
contact-text .input:focus {
  border: 1px solid var(--primaryColor);
}
contact-text .input::-moz-placeholder {
  text-transform: capitalize;
}
contact-text .input::placeholder {
  text-transform: capitalize;
}
contact-text .submit {
  background-color: var(--primaryColor);
  border: none;
  color: var(--textColor);
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}
contact-text .map-container {
  position: relative;
  width: 100%;
  height: 500px;
}
contact-text .mapBg {
  position: absolute;
  background-color: var(--primaryColor);
  top: 0;
  right: 0;
  width: 200px;
  height: 90%;
  border-radius: 20px;
}
contact-text .map {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 90%;
}
contact-text .map iframe {
  width: 100%;
  height: 100%;
}
contact-text .contactMethod {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  text-align: left;
}
contact-text .method {
  display: flex;
  align-items: center;
}
contact-text .contactIcon {
  font-size: 2rem;
  color: var(--primaryColor);
  width: 70px;
}
contact-text .sectionHeader {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--primaryColor);
  margin-bottom: 0.5em;
}
contact-text .heading,
contact-text .sub-heading {
  margin-bottom: 0.5em;
  font-weight: bold;
}
contact-text .heading {
  font-size: 2.5em;
}
contact-text .sub-heading {
  text-align: left;
}
contact-text .contactForm {
  display: grid;
  gap: 3em;
}
contact-text form {
  width: 100%;
  margin-top: 3em;
}
contact-text .para {
  color: var(--paraColor);
  font-size: 1.1rem;
  line-height: 1.5em;
  margin-bottom: 1em;
}
contact-text .para2 {
  text-align: left;
}
contact-text .input {
  width: 95%;
  max-width: 700px;
  border: none;
  font-size: 0.9rem;
  padding: 1em;
  outline: none;
  background-color: var(--formBg);
  color: var(--paraColor);
  border-radius: 10px;
  border: 1px solid rgb(53, 53, 53);
  margin-bottom: 1em;
}
contact-text .input:focus {
  border: 1px solid var(--primaryColor);
}
contact-text .input::-moz-placeholder {
  text-transform: capitalize;
}
contact-text .input::placeholder {
  text-transform: capitalize;
}
contact-text .submit {
  background-color: var(--primaryColor);
  border: none;
  color: var(--textColor);
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}
contact-text .map-container {
  position: relative;
  width: 100%;
  height: 500px;
}
contact-text .mapBg {
  position: absolute;
  background-color: var(--primaryColor);
  top: 0;
  right: 0;
  width: 200px;
  height: 90%;
  border-radius: 20px;
}
contact-text .map {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 90%;
}
contact-text .map iframe {
  width: 100%;
  height: 100%;
}
contact-text .contactMethod {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  text-align: left;
}
contact-text .method {
  display: flex;
  align-items: center;
}
contact-text .contactIcon {
  font-size: 2rem;
  color: var(--primaryColor);
  width: 70px;
}

.Location {
  font-family: "Baloo2-Regular";
  background-color: #333;
  line-height: 1.5;
  color: white;
  padding: 40px;
  margin-top: 30px;
  /* Facebook */
  /* Twitter */
}
.Location .fa {
  padding: 16px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
  border: 1px solid white;
}
.Location .fa-facebook {
  background: rgb(51, 51, 51);
  color: white;
}
.Location .fa-twitter {
  background: rgb(51, 51, 51);
  color: white;
}
.Location .fa-linkedin {
  background: rgb(51, 51, 51);
  color: white;
}
.Location .fa-dribbble {
  background: rgb(51, 51, 51);
  color: white;
}/*# sourceMappingURL=style.css.map */